@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1c3b6b;
  --color-primary-hover: #2a4d85;
  --color-secondary: #d5d8dc;
  --color-accent: #f1c40f;
  --color-base: #ffffff;
  --font-lato: "Lato", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
